name : DST



on :
  push:
    tags:
      - 'release*'
jobs:
  job1:
    env: 
      VAR1: TEST 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Afficher la valeur de VAR1
      run: |
            echo "La valeur de la variable est ${{ env.VAR1 }}"
  job2:
    if: always()
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Afficher un message 
      run: |
            echo "AVec la méthode always"